.tile {
    display: block;
    background: white;
    text-decoration: none;
    position: relative;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.tile + .tile:not(.tileSplit) {
    margin-top: 16px;
}
.tileSplit {
    width: calc(50% - 10px);
    /* max-width: 350px; */
    margin-right: 10px;
    margin-bottom: 10px;
}
.title {
    transition: color 500ms linear;
    display: block;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.15;
    font-size: 1.05rem;
    color: black;
    position: relative;
}
.titleBig {
    font-size: 1.2rem;
}

.footer {
    font-size: 0.925rem;
    line-height: 1.2rem;
}

.header {
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: 0.825rem;
    opacity: 0.2;
}

.pledge {
    /* TODO name*/
    font-size: 3rem;
    position: absolute;
    top: 50%;
    transform: translateY(-1.5rem);
    right: 10px;
}

/* TOOD some utils?*/
.center {
    text-align: center;
}

.coloredTitle {
    padding-left: 13px;
}

.coloredTitle:before {
    background: grey;
    position: absolute;
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    left: 0px;
    top: 50%;
    transform: translateY(-4px);
    transition: background 350ms linear;
}

.green .title:before {
    background-color: green;
}
.blue .title:before {
    background-color: blue;
}
.orange .title:before {
    background-color: orange;
}
.red .title:before {
    background-color: red;
}

.stat {
    display: flex;
    align-items: center;
    padding-top: 7px;
    padding-bottom: 7px;
}

.stat + .stat {
    border-top: 1px solid #ccc;
}

.statLabel {
    width: 50%;
    color: #666;
}
