.tile {
    display: block;
    background: white;
    text-decoration: none;
    position: relative;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    border: 0px solid grey;
    color: rgb(108, 108, 108);

    transition: border 500ms linear, color 500ms linear;
}
.tile + .tile:not(.tileSplit) {
    margin-top: 16px;
}
.tileSplit {
    width: calc(50% - 10px);
    max-width: 350px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.title {
    transition: color 500ms linear;
    display: block;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.15;
    font-size: 1.05rem;
    color: black;
}
.titleBig {
    font-size: 1.2rem;
}

.footer {
    font-size: 0.925rem;
    line-height: 1.2rem;
}

.header {
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: 0.825rem;
}

.pledge {
    /* TODO name*/
    font-size: 3rem;
    position: absolute;
    top: 50%;
    transform: translateY(-1.5rem);
    right: 10px;
}

/* TOOD some utils?*/
.center {
    text-align: center;
}
.green .title {
    border-color: green;
    color: green;
    background: white;
}
.blue .title {
    border-color: blue;
    color: blue;
    background: white;
}
.orange .title {
    border-color: orange;
    color: orange;
    background: white;
}
.red .title {
    border-color: red;
    color: red;
    background: white;
}
