.modal {
    background: white;
    border: 2px solid black; /* TODO use app wide variables for tile like styles*/

    z-index: 9000;
    position: fixed;

    top: 10px;
    left: 50%;
    width: 600px;
    transform: translateX(-50%); /* TODO take advantage of overlay instead */
    height: 100%;
    max-height: calc(100vh - 20px);
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    z-index: 9000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
