.goal-page__graph-wrapper {
    height: 250px;
}
.goal-page__graph {
    max-width: 100%;
}

.recent-data {
    margin-top: 20px; /* TODO */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    color: rgb(108, 108, 108);
}

.recent-data__datapoint__data {
    color: rgb(206, 206, 206);
}

.recent-data__datapoint {
    margin-bottom: 8px;
}
