.recentDatapoints {
    margin-top: 20px; /* TODO */
    color: rgb(108, 108, 108);
}

.row {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    margin-bottom: 8px;
    touch-action: none;
}
