.App {
    /* max-width: 960px; */
    margin: 20px auto;
    margin-top: 20px;
    padding: 10px;
}

input {
    color: rgb(104, 103, 103);
    border: 1px solid rgb(104, 103, 103);
    background: white;
    border-radius: 3px;
}

.button {
    /*TODO component*/
    color: rgb(104, 103, 103);
    border: 1px solid rgb(104, 103, 103);
    background: white;
    border-radius: 3px;
}
