.goals {display: flex; font-family: -apple-system, system-ui; font-weight: bold;
    align-items: center;
    flex-wrap: wrap;}
.goal {position:relative; padding: 15px 5px 16px 5px; box-sizing:border-box; border-radius: 5px; background-color: gray; color: white; width: calc(50% - 10px); text-align: center; margin: 5px; text-overflow:ellipsis; overflow:hidden; white-space: nowrap;}
.goal--green {background: green}
.goal--blue {background: blue}
.goal--orange {background: orange}
.goal--red {background: red}
.goal__footer {font-size: 10px; font-weight: 400}
.goal__topbar{position: absolute; top:3px; right:3px;
font-size: 10px; font-weight: 400;
} 
