.goals {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
/* TODO move to separate component */
.goal-tile {
    display: block;
    text-decoration: none;
    position: relative;
    padding: 15px 5px 16px 5px;
    box-sizing: border-box;
    border-radius: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.goal-tile__slug {
    display: block;
    font-weight: 700;
}
.goal-tile__slug--big {
    font-size: 1.2rem;
}
.goal-tile__slug--center {
    text-align: center;
}
.goal-tile--half {
    width: calc(50% - 10px);
    margin-right: 10px;
    margin-bottom: 10px;
}
.goal-tile {
    border: 2px solid grey;
    color: gray;
    background: white;
}
.goal-tile--left {
    /*TODO names*/
    padding-left: 15px;
}
.goal-tile--green {
    border: 2px solid green;
    color: green;
    background: white;
}
.goal-tile--blue {
    border: 2px solid blue;
    color: blue;
    background: white;
}
.goal-tile--orange {
    border: 2px solid orange;
    color: orange;
    background: white;
}
.goal-tile--red {
    border: 2px solid red;
    color: red;
    background: white;
}

.goal-tile__footer {
    font-size: 0.925rem;
    line-height: 1.2rem;
}
.goal-tile__footer--center {
    text-align: center;
}

.goal-tile__topbar {
    position: absolute;
    top: 3px;
    right: 3px;
    font-size: 0.825rem;
}

.goal-tile__pledge {
    /* TODO name*/
    font-size: 3rem;
    position: absolute;
    top: 50%;
    transform: translateY(-1.5rem);
    right: 10px;
}
